@tailwind base;
@tailwind components;
@tailwind utilities;
.backface-hidden {
  backface-visibility: hidden;
}

.perspective {
  perspective: 1000px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}